includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: max
	paths:
		- config
		- JSONSchema
		- laragen
		- oooapi
		- src
		- tests
		- workbench/app
		- .php-cs-fixer.dist.php
	tmpDir: temp/phpstan_cache