includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: max
	paths:
		- src
		- JSONSchema
		- oooapi
		- config
		- tests
		- workbench
		- .php-cs-fixer.dist.php
	tmpDir: temp/phpstan_cache

