node_modules
vendor
.git
.gitignore
.ddev
.env
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.editorconfig
.phpunit.cache
phpunit.xml
docker-compose.yml
